@media (max-width: 767.98px) {

    header {
        flex-direction: column; /* cambia la dirección a vertical */
        align-items: center;     /* centra los elementos */
        padding: 5px 5px;
        font-size: 13px;
    }

    header.abajo{
    background: #fff;
    padding: 8px 8px;

    }

    header ul li a{
    position: relative;
    font-size: 13px;
    /*font-family: helvetica;*/
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.7s;
}

    header .logo {
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    /* Si tienes un menú de navegación dentro del header, por ejemplo: */
    nav {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
    }

    nav a {
        font-size: 0.9em;
    }

   .carousel-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    font-size: 13px;
    top: 10%;
    }

    .button-services{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;    
    
    }

    /* .custom-services {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    padding: 0 1rem;
    border-radius: 999px;
    font-weight: 600;
    font-size: 1rem;
    flex: 1 1 140px;
    max-width: 180px;
    overflow: hidden; */
} 






