
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F7F8F6;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.75s;
    padding: 30px 20px;
    z-index: 10;
    /*background-color: #F7F8F6;*/
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.4);

}

header .logo{
    position: relative;
    color:#fff;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 2px;
    transition: 1.5s;
    text-decoration: none;;
}

header.abajo{
    background: #fff;
    padding: 25px 25px;

}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
}

header ul li a{
    position: relative;
    font-size: 15px;
    /*font-family: helvetica;*/
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.7s;
}


.img-fluid{
    width: 100%;
    height: auto;
    border-radius: 2%;
}
.text-portada{
    font-size: 32px;
    font-weight: 600;
}

header.abajo .logo,
header.abajo ul li a{
    color: #000;
}


.slider-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* sombra negra con opacidad */
    z-index: 1;
}

.carousel-item img {
    width: 100%;
    height: 750px; /* Puedes ajustar la altura */
    object-fit: cover;
    position: relative;
    z-index: 0;
}
.carousel-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.font-titulo{
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold !important;

}
.font-parrafo{
    font-family: 'Comfortaa', sans-serif;
}
.font-titulo-porque{
   font-family: 'Comfortaa', sans-serif;
   font-weight: bold;
}
.font-parrafo-services{
    font-family: 'Comfortaa', sans-serif;
    font-size: 17px;
}

.font-titulo-services{
    font-family: 'Comfortaa', sans-serif;
    font-size: 17px;
    font-weight: bold !important;
}

.carousel-text-overlay h1 {
    font-size: 3.5rem;
    font-weight: 600;
}

.custom-btn {
    background-color: #D7903E !important;
    color: #fff !important;
    border-radius: 999px;
    border: none;
    padding: 0.6rem 1.5rem; /* ← Menos alto, más ancho */
    font-weight: 600;
    font-size: 1rem;
  }


.custom-btn:hover {
  background-color: #e07b39 !important; /* Color al pasar el mouse */
}

.custom-services {
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    padding: 2rem 2rem;
    border-radius: 999px;
    font-weight: 600;
    font-size: 1rem;
}

.conoceme-btn {
    background-color: #B3BB89 !important;
    color: #fff !important;
    border-radius: 999px;
    border: none;
    padding: 0.6rem 1.5rem; /* ← Menos alto, más ancho */
    font-weight: 600;
    font-size: 1rem;
  }

.circulo {
    width: 20px;
    height: 20px;
    background-color: #F8C181;
    border-radius: 50%;
  }

  .circulo-morado {
    width: 20px;
    height: 20px;
    background-color: #D3DBA9;
    border-radius: 50%;
  }
  .quiero-btn {
    background-color: #783D5A !important;
    color: #fff !important;
    border-radius: 999px;
    border: none;
    padding: 0.6rem 1.5rem; /* ← Menos alto, más ancho */
    font-weight: 600;
    font-size: 1rem;
  }






  .dropdown-ser {
    position: relative;
    display: inline-block;
    width: 100%;

  }

  .dropdown-button-service {
    background: transparent;
    border: 2px solid #F8C181;
    color: #333;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    border-radius: 15px;
  }

.dropdown-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  background: rgba(255, 255, 255, 0.95);
  border: 2px solid #F8C181;
  border-radius: 5px;
  padding: 0 15px; /* sin padding vertical al inicio */
  color: #333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown.show .dropdown-content {
    max-height: 500px; /* suficiente para todo el texto */
    padding: 15px;
}

.cuadro {
    border: 1px solid #B0AEA0; /* Borde negro y delgado */
    padding: 10px;           /* Espacio interior opcional */
    border-radius: 5px;
}

.footer{
    background-color: #EFECE3;
}
