
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F7F8F6;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.75s;
    padding: 20px 20px;
    z-index: 10;
    /*background-color: #F7F8F6;*/
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.4);
}

header .logo{
    position: relative;
    color:#fff;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 2px;
    transition: 1.5s;
    text-decoration: none;;
}

header.abajo{
    background: #fff;
    padding: 10px 10px;

}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
}

header ul li a{
    position: relative;
    font-size: 13px;
    /*font-family: helvetica;*/
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.7s;
}


.img-fluid{
    width: 100%;
    height: auto;
    border-radius: 2%;
}
.text-portada{
    font-size: 32px;
    font-weight: 600;
}

header.abajo .logo,
header.abajo ul li a{
    color: #000;
}


.slider-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* sombra negra con opacidad */
    z-index: 1;
}

.carousel-item img {
    width: 100%;
    height: 750px; /* Puedes ajustar la altura */
    object-fit: cover;
    position: relative;
    z-index: 0;
}
.carousel-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}


.font-parrafo{
   font-family: "Poppins", sans-serif;
    font-weight: 450;
    font-style: normal;
}

.font-titulo{
    font-family: "Poppins", sans-serif;
    font-weight: 550;
    font-style: normal;
}

.carousel-text-overlay h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.custom-btn {
    background-color: #D7903E !important;
    color: #fff !important;
    border-radius: 999px;
    border: none;
    padding: 0.6rem 1.5rem; /* ← Menos alto, más ancho */
    font-weight: 600;
    font-size: 1rem;
  }


.custom-btn:hover {
  background-color: #e07b39 !important; /* Color al pasar el mouse */
}

.custom-services {
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    padding: 2rem 2rem;
    border-radius: 999px;
    font-weight: 600;
}

.conoceme-btn {
    background-color: #B3BB89 !important;
    color: #fff !important;
    border-radius: 999px;
    border: none;
    padding: 0.6rem 1.5rem; /* ← Menos alto, más ancho */
    font-weight: 600;
    font-size: 1rem;
  }

  .conoceme-btn:hover {
    background-color: #9fa775 !important;
  }

.circulo {
    width: 20px;
    height: 20px;
    background-color: #F8C181;
    border-radius: 50%;
  }

  .circulo-morado {
    width: 20px;
    height: 20px;
    background-color: #D3DBA9;
    border-radius: 50%;
  }
  .quiero-btn {
    background-color: #783D5A !important;
    color: #fff !important;
    border-radius: 999px;
    border: none;
    padding: 0.6rem 1.5rem; /* ← Menos alto, más ancho */
    font-weight: 600;
    font-size: 1rem;
  }






.dropdown-button-service:hover {
    background-color: #aab678;
}


.cuadro {
    border: 1px solid #B0AEA0; /* Borde negro y delgado */
    padding: 10px;           /* Espacio interior opcional */
    border-radius: 5px;
}

.footer{
    background-color: #EFECE3;
    height: 100%;
}

.iconos-sociales-footer{
    font-size: 25px;
}




.card {
  border: 1px solid #f4c27d;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  background-color: white;
}

.toggle-icon {
  background-color: #cbd18f;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
}

/* footer */
.footer {
  background-color: #f5f5f5; /* color de fondo claro, puedes cambiar */
  padding: 20px 0;
  font-family: Arial, sans-serif;
  color: #333;
}

.footer img {
  margin-bottom: 15px;
}

.iconos-sociales-footer i {
  font-size: 24px;
  margin: 0 10px;
  color: #555;
  cursor: pointer;
  transition: color 0.3s ease;
}

.iconos-sociales-footer i:hover {
  color: #b3bb89; /* verde claro al pasar el mouse */
}

.footer p {
  margin: 5px 0;
  font-size: 14px;
}

.info-btn {
  background-color: #b3bb89; /* verde claro */
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
}



/* VISTA CONOCEME */
.carousel-conoceme img {
    width: 100%;
    height: 450px; /* Puedes ajustar la altura */
    object-fit: cover;
    position: relative;
    z-index: 0;
}

.conoceme-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.body-conoceme {
  background-color: #fff;
}

.object-fit-cover {
  object-fit: cover;
  height: 100%;
}

.texto-info {
    line-height: 1.8;
    font-size: 17px;
}

